@model Book
@{
    ViewData["Title"] = "Add New Book";
}

<div class="container">
    <h3 class="display-4">Add New Book</h3>
    <hr />
    @if (ViewBag.isSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Add Successully</strong> you added new book successfully.<br />
            Click <a asp-controller="Book" asp-action="getBook" asp-route-id="@ViewBag.bookId">here</a> to view details
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    }

    @*<div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="myLoader" style="display:none;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>*@

<form method="post" enctype="multipart/form-data" asp-action="AddBook" asp-controller="Book">
    @*<div asp-validation-summary="All" class="text-danger"> </div>*@
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LanguageId"></label>
        <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.Language">
            <option value="">Please choose a language</option>
        </select>
        <span asp-validation-for="LanguageId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalPages"></label>
        <input asp-for="TotalPages" class="form-control" />
        <span asp-validation-for="TotalPages" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CoverFoto" class="form-label"></label>        
        <div class="mb-3">            
            <input asp-for="CoverFoto" class="form-control" type="file" id="formFile">
        </div>
        <span asp-validation-for="CoverFoto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Book</button>
    </div>
</form>
</div>

@*@section scripts {
    <script>
        function myComplete(data) {
            alert("Complete");
            console.log(data);
        }

        function mySuccess(data) {
            alert("Success");
            console.log(data);
        }

        function myFailure(data) {
            alert("Failure");
            console.log(data);
        }
    </script>*@
}